<div class="container text-center">
  <img src="/assets/Milktea.jpg"
</div>

<div id="image" class="container text-center">
  <img id="image" style="width:300px; height:533px" src="/assets/boba.gif" />
</div>

<div class="container text-center map-container">
  <div id="map">
  </div>
</div>

<br>

<div class="container address-table" id="addresses">
</div>
<br>

<div id="boba-near" class="text-center">
  <button class="btn-default">Find Boba Locations Near Me</button>
</div>

<div id="flip" class="text-center">
  Find Boba by Location
</div>
<div id="panel">
  <form name="ajaxform" id="ajaxform" action="/address" method="POST">
    <input type="text" name="location"><br><br>
    <input type="submit" id="submitButton" name="submitButton" value="Submit">
  </form>
</div>
