<div class="container text-center">
  <h1>Boba Time</h1>
</div>

<div class="container text-center">
  <img style="width:200px; height:355px" src="/assets/boba.gif" />
</div>

<div class="text-center" id="map">
  Map Goes Here
</div>

<div class="text-center" id="addresses">
  Address Goes Here
</div>

<div id="boba-near" class="text-center">
  <button class="btn-default" onclick="bobaNearMe()">Find Boba Locations Near Me</button>
</div>

<div id="flip" class="text-center">
  Find Boba by Location
</div>
<div id="panel">
  Form Here
</div>
