<div class="container text-center">
  <h1>Boba Time</h1>
</div>

<div class="container text-center">
  <img style="width:200px; height:355px" src="/assets/boba.gif" />
</div>

<div class="container text-center">
  <div id="map">
    <!-- <div id="map-container">
      <div id="map-canvas"></div>
    </div> -->
  </div>
</div>


<div class="container address-table" id="addresses">
</div>
<br>

<div id="boba-near" class="text-center">
  <button class="btn-default">Find Boba Locations Near Me</button>
</div>

<div id="flip" class="text-center">
  Find Boba by Location
</div>
<div id="panel">
  Form Here
</div>
