<!DOCTYPE html>
<html>
<head>
  <title>BobaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

<%= yield %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Podi0-zST8mYSdTCzlwVxDu_6xVAeR8&callback=initMap">
</script>
</body>
</html>
